# === Model SBERT (JANGAN DIGANTI, harus konsisten seluruh proyek) ===
SBERT_MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2

# === Path Data ESCO ===
ESCO_OCCUPATIONS_PATH=data/raw/esco/occupations_en.csv
ESCO_SKILLS_PATH=data/raw/esco/skills_en.csv
ESCO_RELATIONS_PATH=data/raw/esco/occupationSkillRelations_en.csv

# === Path Data JTK ===
JTK_PEO_PLO_PATH=data/raw/jtk/PEO_PLO.csv
JTK_CLO_JTK_PATH=data/raw/jtk/CLO-JTK (Jurusan Teknik Komupter).csv
JTK_CLO_CAMPUR_PATH=data/raw/jtk/CLO-Campur.csv

# === Cache ===
EMBEDDINGS_CACHE_DIR=data/processed

# === Threshold ===
SIMILARITY_THRESHOLD=0.6

# === Top-K defaults ===
DEFAULT_TOP_K=10

# === Groq API (untuk NER via LLM) ===
GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXXXXXX
GROQ_MODEL=openai/gpt-oss-120b
GROQ_API_URL=https://api.groq.com/openai/v1/chat/completions
